.container {
    width: 70% !important;
    margin: auto;
    background-color: rgb(237, 237, 237);
    border-radius: 10px;
    padding: 10px 1px;
}
.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.line-through {
    text-decoration: line-through !important;
      opacity: 0.7 !important;
        color: gray !important;
}

input #task {
    width: 100%;
    margin-bottom: 10px;
}

@media (min-width: 576px) {
    input#task {
        width: 75%;
        margin-bottom: 0;
    }
}